In [1]:
import pandas as pd

In [2]:
dfa = pd.read_csv('results.csv')

In [3]:
dfa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41535,2019-11-19,Kyrgyzstan,Tajikistan,1,1,FIFA World Cup qualification,Bishkek,Kyrgyzstan,False
41536,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Hanoi,Vietnam,False
41537,2019-11-19,Malaysia,Indonesia,2,0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,False
41538,2019-11-19,Turkmenistan,Sri Lanka,2,0,FIFA World Cup qualification,Ashgabat,Turkmenistan,False
41539,2019-11-19,Lebanon,North Korea,0,0,FIFA World Cup qualification,Beirut,Lebanon,False

In [4]:
dfa['tournament']

0                            Friendly
1                            Friendly
2                            Friendly
3                            Friendly
4                            Friendly
                     ...
41535    FIFA World Cup qualification
41536    FIFA World Cup qualification
41537    FIFA World Cup qualification
41538    FIFA World Cup qualification
41539    FIFA World Cup qualification
Name: tournament, Length: 41540, dtype: object

In [26]:
fifa = dfa[dfa['tournament']=='FIFA World Cup']

In [27]:
fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
1304,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1305,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930
1306,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930
1307,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1308,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930
...,...,...,...,...,...,...,...,...,...,...
39928,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False,2018
39929,2018-07-10,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True,2018
39930,2018-07-11,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,True,2018
39931,2018-07-14,Belgium,England,2,0,FIFA World Cup,St. Petersburg,Russia,True,2018
39932,2018-07-15,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,True,2018

In [7]:
dictFifa={}

In [21]:
dates = fifa.date.tolist()
years=[]

In [22]:
for date in dates:
    year=date.split('-')[0]
    if year not in years:
        years.append(year)

In [23]:
years

['1930',
 '1934',
 '1938',
 '1950',
 '1954',
 '1958',
 '1962',
 '1966',
 '1970',
 '1974',
 '1978',
 '1982',
 '1986',
 '1990',
 '1994',
 '1998',
 '2002',
 '2006',
 '2010',
 '2014',
 '2018']

In [24]:
dfa['year'] = pd.DatetimeIndex(dfa['date']).year

In [25]:
dfa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876
...,...,...,...,...,...,...,...,...,...,...
41535,2019-11-19,Kyrgyzstan,Tajikistan,1,1,FIFA World Cup qualification,Bishkek,Kyrgyzstan,False,2019
41536,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Hanoi,Vietnam,False,2019
41537,2019-11-19,Malaysia,Indonesia,2,0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,False,2019
41538,2019-11-19,Turkmenistan,Sri Lanka,2,0,FIFA World Cup qualification,Ashgabat,Turkmenistan,False,2019
41539,2019-11-19,Lebanon,North Korea,0,0,FIFA World Cup qualification,Beirut,Lebanon,False,2019

In [46]:
dictOfCountries={}
for i in range(len(years)):
    for j in range(len(fifa[fifa['year']==eval(years[i])].country.unique())):
        if years[i] in dictOfCountries.keys():
            dictOfCountries[years[i]].append(fifa[fifa['year']==eval(years[i])].country.unique()[j])
        else:
            dictOfCountries[years[i]]=[fifa[fifa['year']==eval(years[i])].country.unique()[j]]

In [31]:
years

['1930',
 '1934',
 '1938',
 '1950',
 '1954',
 '1958',
 '1962',
 '1966',
 '1970',
 '1974',
 '1978',
 '1982',
 '1986',
 '1990',
 '1994',
 '1998',
 '2002',
 '2006',
 '2010',
 '2014',
 '2018']

In [32]:
fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
1304,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1305,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930
1306,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930
1307,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930
1308,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930
...,...,...,...,...,...,...,...,...,...,...
39928,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False,2018
39929,2018-07-10,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True,2018
39930,2018-07-11,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,True,2018
39931,2018-07-14,Belgium,England,2,0,FIFA World Cup,St. Petersburg,Russia,True,2018
39932,2018-07-15,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,True,2018

In [35]:
fifa['year']==2018

1304     False
1305     False
1306     False
1307     False
1308     False
         ...
39928     True
39929     True
39930     True
39931     True
39932     True
Name: year, Length: 900, dtype: bool

In [47]:
dictOfCountries

{'1930': ['Uruguay'],
 '1934': ['Italy'],
 '1938': ['France'],
 '1950': ['Brazil'],
 '1954': ['Switzerland'],
 '1958': ['Sweden'],
 '1962': ['Chile'],
 '1966': ['England'],
 '1970': ['Mexico'],
 '1974': ['Germany'],
 '1978': ['Argentina'],
 '1982': ['Spain'],
 '1986': ['Mexico'],
 '1990': ['Italy'],
 '1994': ['United States'],
 '1998': ['France'],
 '2002': ['South Korea', 'Japan'],
 '2006': ['Germany'],
 '2010': ['South Africa'],
 '2014': ['Brazil'],
 '2018': ['Russia']}

In [45]:
len(fifa[fifa['year']==2002].country.unique())

2

In [49]:
#Print unique tournaments
listx = list(dfa['tournament'].unique())
print(listx)

['Friendly', 'British Championship', 'Copa Lipton', 'Copa Newton', 'Copa Premio Honor Argentino', 'Copa Premio Honor Uruguayo', 'Copa Roca', 'Copa AmÃ©rica', 'Copa Chevallier Boutell', 'Nordic Championship', 'International Cup', 'Baltic Cup', 'Balkan Cup', 'FIFA World Cup', 'Copa Rio Branco', 'FIFA World Cup qualification', 'CCCF Championship', 'NAFU Championship', 'Copa Oswaldo Cruz', 'Pan American Championship', 'Copa del PacÃ­fico', "Copa Bernardo O'Higgins", 'AFC Asian Cup qualification', 'Atlantic Cup', 'AFC Asian Cup', 'African Cup of Nations', 'Copa Paz del Chaco', 'Merdeka Tournament', 'UEFA Euro qualification', 'UEFA Euro', 'Windward Islands Tournament', 'African Cup of Nations qualification', 'Vietnam Independence Cup', 'Copa Carlos Dittborn', 'CONCACAF Championship', 'Copa Juan Pinto DurÃ¡n', 'UAFA Cup', 'South Pacific Games', 'CONCACAF Championship qualification', 'Copa Artigas', 'GaNEFo', "King's Cup", 'Gulf Cup', 'Indonesia Tournament', 'Korea Cup', 'Brazil Independence Cup', 'Copa RamÃ³n Castilla', 'Oceania Nations Cup', 'CECAFA Cup', 'Copa FÃ©lix Bogado', 'Kirin Cup', 'CFU Caribbean Cup qualification', 'CFU Caribbean Cup', 'AmÃ­lcar Cabral Cup', 'Mundialito', 'West African Cup', 'Nehru Cup', 'Merlion Cup', 'UDEAC Cup', 'Rous Cup', 'Lunar New Year Cup', 'Tournoi de France', 'Malta International Tournament', 'Island Games', 'Dynasty Cup', 'UNCAF Cup', 'Gold Cup', 'USA Cup', 'Jordan International Tournament', 'Confederations Cup', 'United Arab Emirates Friendship Tournament', 'Oceania Nations Cup qualification', 'Simba Tournament', 'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament', 'Cyprus International Tournament', 'Dunhill Cup', 'COSAFA Cup', 'Gold Cup qualification', 'SKN Football Festival', 'UNIFFAC Cup', 'WAFF Championship', 'Millennium Cup', "Prime Minister's Cup", 'EAFF Championship', 'AFC Challenge Cup', 'FIFI Wild Cup', 'ELF Cup', 'Viva World Cup', 'UAFA Cup qualification', 'AFC Challenge Cup qualification', 'African Nations Championship', 'VFF Cup', 'Dragon Cup', 'ABCS Tournament', 'Nile Basin Tournament', 'Nations Cup', 'Pacific Games', 'OSN Cup', 'CONIFA World Football Cup', 'CONIFA European Football Cup', 'Copa AmÃ©rica qualification', 'World Unity Cup', 'Intercontinental Cup', 'AFF Championship qualification', 'UEFA Nations League', 'CONCACAF Nations League qualification', 'African Nations Championship qualification', 'Atlantic Heritage Cup', 'Inter Games Football Tournament', 'CONCACAF Nations League']

In [50]:
#Number of matches played in each tournament
dfa.tournament.value_counts()

Friendly                                17036
FIFA World Cup qualification             7236
UEFA Euro qualification                  2582
African Cup of Nations qualification     1672
FIFA World Cup                            900
                                        ...
Dragon Cup                                  4
OSN Cup                                     4
Copa AmÃ©rica qualification                  2
Atlantic Heritage Cup                       2
AFF Championship qualification              2
Name: tournament, Length: 112, dtype: int64

In [55]:
#Print first 5 matches
dfa[:5]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876

In [61]:
dicta = dfa.country.value_counts()

In [63]:
dicta['United States']

1154

In [67]:
for k in sorted(dicta,key=dicta.get):
    print(k,v)
    break

TypeError: '<' not supported between instances of 'NoneType' and 'NoneType'

In [73]:
print("Country that hosted the highest number of matches is:",dicta.keys()[0],'with',dicta[0],'matches hosted')

Country that hosted the highest number of matches is: United States with 1154 matches hosted